<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>book_system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>user_servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>user_servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>user_servlet.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>user_servlet.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBooksServelt</display-name>
    <servlet-name>AddBooksServelt</servlet-name>
    <servlet-class>admin_servlet.AddBooksServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBooksServelt</servlet-name>
    <url-pattern>/AddBooksServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBooksServlet</display-name>
    <servlet-name>UpdateBooksServlet</servlet-name>
    <servlet-class>admin_servlet.UpdateBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBooksServlet</servlet-name>
    <url-pattern>/UpdateBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBooksServlet</display-name>
    <servlet-name>DeleteBooksServlet</servlet-name>
    <servlet-class>admin_servlet.DeleteBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBooksServlet</servlet-name>
    <url-pattern>/DeleteBooksServlet</url-pattern>
  </servlet-mapping>
</web-app>